.nav-profile-text {
  height: 100%; }
  .nav-profile-text p {
    display: inline-block;
    height: 100%;
    line-height: 56px !important; }

#login-in-show {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5; }

#login-on-show {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5; }
